{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class='container'>
    <h2>{{ title }}</h2>
    <section class='my-cont'>
        <a class='btn btn-primary marginal' href="/api/v1/services?cur_user_id={{ cur_user_id }}">Назад</a>
        <form action='/api/v1/services/update/{{ service.id }}?cur_user_id={{ cur_user_id }}' method="post">
            <div class='mb-3'>
                <label>Наименование услуги</label>
                <input type="text" name="servicename" placeholder="{{ service.service_name }}" class="form-control" value="{{ service.service_name }}"/>
            </div>
            <div class='mb-3'>
                <label>Цена услуги</label>
                <input type="text" name="servicecost" placeholder="{{ service.service_cost }}" class="form-control" value="{{ service.service_cost }}"/>
            </div>
            <div class='mb-3'>
                <label>Продолжительность</label>
                <input type="text" name="servicetime" placeholder="{{ service.service_time }}" class="form-control" value="{{ service.service_time }}"/>
            </div>
            <input type="submit" value="Обновить" class="btn btn-primary mb3">
        </form>
    </section>
</div>
{% endblock content %}